<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Index</title>
</head>
<body align="center" bgcolor="#CFD851">
 <h1>Welcome
 <br>
 File Upload
 </h1>
 <hr>
 {{.msg}}
 <form method="POST" action="/account/login">
 Usename: <input type="text" name="username">
 <br>
 Password: <input type="password" name="password">
 <br><br>
 <input type="submit" value="Login">
 <br><br>
 <a href="/account/register">New User Registration</a>
 </form>
</body>
</html>